<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Portal - Admin</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/js/main/jquery.min.js"></script>
    <script src="~/Content/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>

    <!-- Main navbar -->
    
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        @RenderBody()
        
        <!-- Main content -->
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>

@RenderSection("scripts", required: false)
</html>
