@model IEnumerable<JobPortal.Admin.Data.InterviewType>

@{
    ViewBag.Title = "Interview Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="row">
    <div class=" col-md-12 action-button-container">
        <a href="~/InterviewTypes/Create" class="btn btn-success btn-labeled btn-labeled-left btn-sm"><b><i class="icon-plus2 "></i></b>Create New  </a>
    </div>
</div>
<table class="table">
    <tr class="bg-primary text-white">
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Value)
    </td>
    <td>
        <a href="~/InterviewTypes/edit?id=@item.Id">
            <i class="icon-pencil"></i>
        </a>
        &nbsp;|
        &nbsp;
        <a href="~/InterviewTypes/Delete?id=@item.Id">
            <i class="icon-trash"></i>
        </a>
    </td>
</tr>
}

</table>
