@{
    ViewBag.Title = "About"; 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="section-core-Value">
    <div class="section-about-header">
        <h2 class="text-center">Our Core Values.</h2>
        <p class="text-center">
            Today, we lead a diversified business with recruitment solutions.
        </p>
    </div>
    <div class="core-value-img"> 
        <img src="~/Content/images/corevalue.jpg" />
    </div>
</section>
<section class="section-aboutus-joining">
    <div class="section-about-header">
        <h2 class="text-center">
            Create economic opportunity for every member of the global workforce.

        </h2>
        <p class="text-center">
            The mission is simple: connect the world’s professionals to make them more productive and successful.
        </p>
        <a href="~/Profiles/Create">
            <div class="joining-button">Join us now </div>
        </a>
         
    </div>
</section>