@{
    ViewBag.Title = "Contact"; 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="contactContainer">
    <div class="secondContactContainer">
        <div class="contact-form-div">
            <form>
                <h3>STAY IN TOUCH</h3>
                <input type="text" placeholder="Your name" required />
                <br />
                <input type="email" placeholder="you@example.com" required />
                <br />
                <textarea class="text-area"
                          placeholder="Tell us..."
                          required></textarea>
                <br />
                <button class="btn customFormSend">Send</button>
            </form>
        </div>
    </div>
</div>