<link href="~/Content/css/footer.css" rel="stylesheet" />
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><Link to="/">Home</Link></li>
                        <li><a href="~/Home/About">About us</a></li>
                        <li><Link to="/programs">Services</Link></li>
                        <li><Link to="/programs">Terms of service</Link></li>
                        <li><Link to="/Aboutus">Privacy policy</Link></li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-4 footer-contact">
                    <h4>Contact Us</h4>
                    <p> A108 Adam Street <br /> Jordan, NY 535022<br />Amman <br /><br /> <strong>Phone:</strong> 0777777777<br /> <strong>Email:</strong> eHosting@gmail.com<br /> </p>
                </div>
                <div class="col-lg-3 col-md-4 footer-info">
                    <h3>ABOUT US</h3>
                    <p>Our culture is our foundation, and we take great pride in it. It’s the collective personality of our organization. It sets us apart, defines who we are, and shapes what we aspire to be.</p>
                    <div class="social-links mt-3"> <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a> <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a> <a href="https://www.linkedin.com/feed/" class="linkedin"><i class="fab fa-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright"> © Copyright <strong><span>JobPortal</span></strong>. All Rights Reserved </div>
    </div>
</footer>